.footer {
    position: fixed;
    bottom: -100px; /* Inicialmente escondido */
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, #181818, #292929);
    color: white;
    padding: 0.8rem 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.3);
    transition: bottom 0.5s ease-in-out; /* Animação suave */
}

/* Quando o footer deve aparecer */
.footer.visible {
    bottom: 0;
}

/* Container do footer */
.footer-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
}

/* Ícone do Instagram com animação */
.footer-icons {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    animation: floating 3s infinite ease-in-out;
}

.footer-icons:hover {
    transform: scale(1.25) rotate(3deg);
    filter: drop-shadow(0 0 7px rgba(255, 255, 255, 0.8));
}
